<div class="trb_notouch" data-trb-thirdpartynav="">
	<meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
	<nav class="trb_3pt_nav" data-role="base_expandable">
	    <a class="trb_3pt_logo" data-content-svgtype="mobileNavLogo" href="http://www.courant.com/"></a> <a class="trb_3pt_hamburger"data-role="thirdparty_button base_expander" href="#"><span class="trb_3pt_hamburger_icon"></span></a>

		<ul data-role="thirdparty_mainMenu">
			<li class="trb_3pt_mainLink"><a class="trb_3pt_mainLink_a" data-role="thirdpartynav_mainLink" href="http://www.courant.com/obituaries">Obituaries</a></li>
			<li class="trb_3pt_mainLink" data-hasitems=""><a class="trb_3pt_mainLink_a" data-role="thirdpartynav_mainLink" href="http://www.courant.com/news/connecticut">News</a>
				<ul class="trb_3pt_subMenu">
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/news/connecticut">Connecticut</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/breaking-news">Breaking News</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/weather">Weather</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://courantblogs.com/traffic/">Traffic</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/politics">Politics</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/nation-world">Nation &amp; World</a></li>
				  <li class="trb_3pt_subLink"><a href="http://www.courant.com/health">Health</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/education">Education</a></li>
				  <li class="trb_3pt_subLink"><a href="http://www.courant.com/photos">Photos &amp; Video</a></li>
				  <li class="trb_3pt_subLink"><a href="http://www.courant.com/data-desk">Data Desk</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/courant-250">Courant 250th</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.mypublicnotices.com/Courant/PublicNotice.asp"> Public Notices</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/noticias">Noticias</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/hc-lottery-htmlstory.html">Lottery</a></li>
				</ul>
			</li>
			<li class="trb_3pt_mainLink" data-hasitems=""> <a class="trb_3pt_mainLink_a" data-role="thirdpartynav_mainLink" href="http://www.courant.com/community">Towns</a>
				<ul class="trb_3pt_subMenu">
				  <li class="trb_3pt_subLink"><a href="http://www.courant.com/community">All Towns</a></li>
				  <li class="trb_3pt_subLink"><a href="https://community.courant.com">Submit News</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/reminder-news">Reminder News</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/avon">Avon</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/berlin">Berlin</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/bloomfield">Bloomfield</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/bristol">Bristol</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/canton">Canton</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/east-hartford">East Hartford</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/enfield">Enfield</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/farmington">Farmington</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/glastonbury">Glastonbury</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/hartford">Hartford</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/manchester">Manchester</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/middletown">Middletown</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/new-britain">New Britain</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/newington">Newington</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/plainville">Plainville</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/rocky-hill">Rocky Hill</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/simsbury">Simsbury</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/southington">Southington</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/vernon">Vernon</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/west-hartford">West Hartford</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/wethersfield">Wethersfield</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/community/windsor">Windsor</a></li>
				</ul>
			</li>
			<li class="trb_3pt_mainLink" data-hasitems=""><a class="trb_3pt_mainLink_a" data-role="thirdpartynav_mainLink" href="http://www.courant.com/sports">Sports</a>
				<ul class="trb_3pt_subMenu">
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/">Breaking</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/uconn-mens-basketball">UConn Men</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/uconn-womens-basketball">UConn Women</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/uconn-football">UConn Football</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/high-schools">High Schools</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/college">College</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/connecticut-sun">CT Sun</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/football">NFL</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/baseball">MLB</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/basketball">NBA</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/hockey">Hockey</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/hockey/">Wolf Pack</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/golf">Golf</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/more-sports/">More Sports</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/sports/hc-sports-scores-stats-schedules-htmlstory.html">Scores/Stats</a></li>
				</ul>
			</li>
			<li class="trb_3pt_mainLink" data-hasitems=""><a class="trb_3pt_mainLink_a" data-role="thirdpartynav_mainLink" href="http://www.courant.com/business">Business</a>
				<ul class="trb_3pt_subMenu">
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/business">Breaking</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/classified/automotive">Autos</a></li>
				  <li class="trb_3pt_subLink"><a href="http://www.courant.com/real-estate">Real Estate</a></li>
				  <li class="trb_3pt_subLink"><a href="http://www.courant.com/consumer">Smarter Living</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/classified/jobs">Jobs &amp; Work</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/business/top-workplaces">Top Workplaces</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://local.courant.com/search/en-US/">Local Businesses</a></li>
				</ul>
			</li>
			<li class="trb_3pt_mainLink" data-hasitems=""><a class="trb_3pt_mainLink_a" data-role="thirdpartynav_mainLink" href="http://www.courant.com/opinion">Opinion</a>
				<ul class="trb_3pt_subMenu"> <li class="trb_3pt_subLink"><a href= "http://www.courant.com/opinion">Opinion</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/opinion/editorials">Editorials</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/opinion/letters">Letters</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/opinion/cartoons">Cartoons</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/opinion/op-ed">Op-Ed</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/opinion/columnists/">Columnists</a></li>
				</ul>
			</li>
			<li class="trb_3pt_mainLink" data-hasitems=""><a class="trb_3pt_mainLink_a" data-role="thirdpartynav_mainLink" href="http://www.courant.com/entertainment">Entertainment</a>
				<ul class="trb_3pt_subMenu">
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/entertainment/arts-theater"> Arts/Theater</a></li>
				  <li class="trb_3pt_subLink"><a href="http://www.courant.com/ctnow">CTNOW</a></li>
				  <li class="trb_3pt_subLink"><a href="http://www.courant.com/features/food">Food &amp; Drink</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/entertainment/movies">Movies</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/entertainment/music">Music</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/entertainment/celebrity">Celebrity</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/entertainment/television">Television</a></li>
				</ul>
			</li>
			<li class="trb_3pt_mainLink"><a class="trb_3pt_mainLink_a" data-role="thirdpartynav_mainLink" href="http://www.courant.com/photos">Photos &amp; Video</a></li>
			<li class="trb_3pt_mainLink trb_3pt_footerLink"><a class="trb_3pt_mainLink_a trb_3pt_footerLink" data-role="thirdpartynav_mainLink" href="http://www.courant.com/about">About Us</a>
				<ul class="trb_3pt_subMenu">
				  <li class="trb_3pt_subLink"><h1 class="trb_3pt_mainLink">Sections</h1></li>
				  <li class="trb_3pt_subLink"><a href="http://www.courant.com/about">Site Map</a></li>
				  <li class="trb_3pt_subLink"><a href="http://discover.courant.com">Tour The Site</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/hc-contact-us-ngux-htmlstory.html"> Contact Us</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/hc-terms-htmlstory.html">Terms of Use</a></li>
				  <li class="trb_3pt_subLink"><a href= "https://myaccount2.courant.com/dssSubscribe.aspx?pid=476"> Subscribe</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/about/thc-news-mission,0,2975591.htmlstory"> Our Mission</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/about/thc-history,0,4107859.htmlstory"> Courant 250</a></li>
				  <li class="trb_3pt_subLink"><a href= "http://www.courant.com/about/thc-faq-2007,0,2798033.htmlstory"> FAQ</a></li>
				  <li class="trb_3pt_subLink"><a href="http://membership.courant.com">Digital Plus</a></li>
				</ul>
			</li>
		</ul>
	</nav>
</div>